* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* reset.css */
a{
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea{
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:active,
input:focus,
textarea:focus,
textarea:active{
  outline: none;
  box-shadow: none;
}

ul,
ol,
li{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

body{
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin: 0;
}

p{
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.fill-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 140px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  background-color: #3040c4;
  transition: opacity 300ms ease-in-out;
}

.fill-button:hover{
  opacity: 0.5;
}

.fill-button.inverted{
  background-color: #fff;
  color: #3040c4;
}

/* landing */

body{
  background-color: #333;
}
.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 30px;
}

p {
  margin: 0;
}

.form-input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.w-100 {
  width: 100%;
  padding: 10px;
}

.w-50 {
  width: 50%;
  padding: 10px;
  float: left;
}


.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
  background-color: lemonchiffon;
  border: 1px solid black;
  border-radius: 5px;
}
 

