*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: border-box;
}


.main-background {
  width: 100%;
  height: 500px;
  background-image: url(https://codingapple.com/wp-content/uploads/2019/06/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.main-background {
  color: white;
  text-align: center;
}
.main-title {
  margin-top: 0;
  padding-top: 130px;
  font-size: 35px;
}

.title-text{
  padding: 70px 20px 50px;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}


.box {
  width: 70%;
  max-width: 800px;
  margin: auto;
  background-color: #eee;
  padding: 20px;
  text-align: center;
  position: relative;
  top: -30px;

}

.box h5{
  margin: 20px;
}