.container{
  width: 100vw;

}

.header{
  width: 100%;
  height: 100px;
  background: aqua;
}

.leftmenu{
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}

.content{
  width: 80%;
  height: 400px;
  background: coral;
  float: left;
}
.footer{
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both;
}